BUFFER_PORT=3000

ACTIVITYWATCH_API_URL=http://localhost:5600/api

WEBHOOK_TARGET_URL=http://localhost:4000

MINI_APP_ID=enter-your-id-here
MINI_APP_SECRET=enter-your-secret-here

AGENTS_API_URL=https://agents-api.doodles.app

AGENT_ID=choose-agent-id #For example: b91b282c-b14a-0c3b-89da-bc535285117a